@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.bg {
  background: url("/img/bg-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-2 {
  background: url("/img/bg-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@keyframes enter {
  0% {
    transform: translateY(120%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes enter-line {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scale(1);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .animation-1 {
    animation-name: enter;
    animation-duration: 1s;
  }
  .animation-2:before {
    animation-name: enter-line;
    animation-duration: 0.8s;
    animation-delay: 0.51s;
    transform-origin: left;
  }
}
.animation-modal-enter {
  opacity: 0;
  visibility: hidden;
}
.animation-modal-enter-active {
  opacity: 1;
  visibility: visible;
  transition: 400ms;
}
.animation-modal-exit {
  opacity: 1;
  visibility: visible;
}
.animation-modal-exit-active {
  opacity: 0;
  visibility: hidden;
  transition: 400ms;
}
.my-hidden {
  opacity: 0;
  height: 0;
  width: 0;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
